* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
  }
  
  body {
    background: linear-gradient(180deg, rgb(73, 66, 153) 0%, #8dd0f5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    gap: 5em;
  }
  .logo-name nav{
    color: white;
    display: flex;
    align-items: center;
    gap:0.5em;
    
  }
nav h1{
font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  
  
  .hide {
    display: none !important;
  }
  
  .container {
    background-color: #5c54ed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
    max-width: 400px;
  }
  
  /* Form */
  .form h3 {
    margin-bottom: 1rem;
  }
  
  .form-input-container {
    display: flex;
  }
  
  .form input {
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
  }
  
  .form button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Clima */
  #weather-data,
  #error-message,
  #loader,
  #suggestions {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
  }
  
  #weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  
  #weather-data h2 i {
    font-size: 1rem;
  }
  
  #weather-data span {
    margin: 0.6rem;
  }
  
  #temperature {
    font-size: 4rem;
  }
  
  #country {
    height: 15px;
  }
  
  #description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
  }
  
  #description {
    text-transform: capitalize;
    font-weight: bold;
  }
  
  #details-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #details-container #umidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
  }
  
  /* Loader */
  #loader i {
    animation: rotate 1.5s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Sugestões */
  #suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #suggestions button {
    min-width: 150px;
    margin: 0.8rem;
    padding: 0.6rem 0.9rem;
    
   
    background-color: #8dd0f5;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.4s;
  }
  
  #suggestions button:hover {
    opacity: 1;
  }

 







  #search {
    border: none;
    color: #fff;
    background-color: #8dd0f5;
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }
   
   #search:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }












/*efeito do botao*/
  .c-button {
  color: #000;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #06c8d9;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 3px solid #06c8d9;
  border-radius: 0;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #06c8d9;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}